# =============== #
# Unity generated #
# =============== #
UnityGenerated/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Subversion files
.svn

# Office Temp Files
~$*
s
#NuGet
#packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

#Visual Studio database projects
*.dbmdl

#Test files
*.testsettings
*.apk
*.apk
SpaceRun.apk
*.apk
main.18.com.aze.spacerun.obb
*.apk
*.obb
*.apk
SpaceRun.apk
*.apk
*.apk
*.exe
Assets/StreamingAssets/build_info.txt
*.sln
*.csproj
ProjectSettings/EditorBuildSettings.asset